telethon==1.36.0
pandas==2.2.2
numpy==1.26.4
transformers==4.45.1
datasets==3.0.1
seqeval==1.2.2
shap==0.46.0
lime==0.2.0.1
pillow==10.4.0
pytesseract==0.3.10
flake8==7.1.1
pytest==8.3.3
pytest-cov==5.0.0